{% extends "base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
          </div>
          {% include "includes/author_profile.html" %}
            <div class="col-md-9">                

                    {% for post in page %}
                        {% include "includes/edit_profile.html" %}
                    {% endfor %}
{% endblock %}
                {% if page.has_other_pages %}
                    {% include "includes/paginator.html" with items=page paginator=paginator %}
                {% endif %}
     </div>
    </div>
</main>